body {
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 1100px;
    background-color: #EFE4E8;
}

#logo {
    position: absolute;
    width: 100%;
    top: 0%;
    right: 0%;

}

.skill-row,
.teaching {
    background-color: #f0eaec;

}



.cloud {
    position: absolute;
    width: 10%;

}

.above {
    right: 10%;
    top: 60%;

}

.down {
    bottom: 10%;
    left: 10%;
}

.headpage {
    display: inline-block;
    position: absolute;
    width: 20%;
    top: 40%;
    left: 45%;
    text-align: center;


}

#mountain {
    width: 40%;
    position: absolute;
    bottom: 0%;
    left: 30%;

}


#myname {
    color: #CF4100;
    font-size: 300%;
    width: 15%;
    font-family: 'Rock Salt', cursive;
    line-height: 85px;

}

#myjob {
    text-align: center;
    font-size: 150%;
    font-family: 'Major Mono Display', monospace;
    width: 5%;

}

h2,
h3 {
    font-family: 'Nova Mono', monospace;
    font-size: 3rem;
}

h3 {
    font-weight: normal;
}

.propic {
    margin-top: 40px;
    width: 15%;
}

.teaching {
    margin-top: 100px;
}

p {
    font-size: 2rem;
}

.idf-font {
    color: #E6D997;
}

h1,
h2 {
    color: #FF6052;
}

footer {
    position: relative;
    height: 300px;
    background-color: #f5dee6;
}

.footer-link {
    color: #fa8d34;
    font-size: 1.5rem;
    font-style: normal;
}

.footer-link:hover {
    color: #fc579c;
}

.skill-para {
    padding: 30px;
    width: 80%;
    text-align: center;
    margin: 0 auto 0 auto;
}

.img-skill {
    width: 25%;
}

.intro {
    padding: 15px;
}

.titles {
    margin-bottom: 10rem;
}

hr {
    border: dotted #fad0a1d3 6px;
    height: 0px;
    border-top: 0px;
    width: 4%;
    margin: 100px auto;
}

.btn {
    background: #fa4160;
    background-image: -webkit-linear-gradient(top, #fa4160, #b0397e);
    background-image: -moz-linear-gradient(top, #fa4160, #b0397e);
    background-image: -ms-linear-gradient(top, #fa4160, #b0397e);
    background-image: -o-linear-gradient(top, #fa4160, #b0397e);
    background-image: linear-gradient(to bottom, #fa4160, #b0397e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #fc3c9f;
    background-image: -webkit-linear-gradient(top, #fc3c9f, #d934b5);
    background-image: -moz-linear-gradient(top, #fc3c9f, #d934b5);
    background-image: -ms-linear-gradient(top, #fc3c9f, #d934b5);
    background-image: -o-linear-gradient(top, #fc3c9f, #d934b5);
    background-image: linear-gradient(to bottom, #fc3c9f, #d934b5);
    text-decoration: none;
}

.footer-link {
    margin: 20px;
}

.cont-msg {
    margin-bottom: 120px;
}

#copyright {
    font-size: 1rem;
}